.errorDiv {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textError {
  margin-top: 30px;
}

.error-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 30px;
}
